---
layout: default
---

<div class="welcome">
  <div class="intro">
    <img src="{{site.github.url}}/assets/img/headshot3.png">
    <p class="hi">Hi, I'm Briana!</p>
    <p>Cupcake ipsum dolor sit amet carrot cake sesame snaps caramels croissant. Powder marshmallow sugar plum. Cheesecake apple pie liquorice candy chocolate bar. Candy canes tart chupa chups pie sweet dessert chocolate bar sweet roll. Tart sesame snaps cheesecake wafer bear claw chupa chups. </p>
  </div>
  <div class="feature-section">
    <div class="feature">
      <img src="{{site.github.url}}/assets/img/pentagon-gray.png">
      <a href="#">I &#x2764; your face!</a>
      <p>Read more about what I do</p>
    </div>
    <div class="feature">
      <img src="{{site.github.url}}/assets/img/pentagon-gray.png">
      <a href="{{site.github.url}}/request-appointment.html">Book appointment</a>
      <p>Visit me for skin care awesomeness</p>
    </div>
    <div class="feature">
      <img src="{{site.github.url}}/assets/img/pentagon-gray.png">
      <a href="#">Hire me</a>
      <p>I'm interested in new adventures</p>
    </div>
  </div><!--feature-wrapper-->
</div><!--welcome-->

<section class="container" id="about">
  <header>
    <h1>About</h1>
  </header>
  <p>About me goes here.</p>
</section>

<section class="container" id="experience">
  <header>
    <h1>Experience</h1>
  </header>
  <p>Experience info goes here</p>
</section>

<section class="container" id="accolades">
  <header>
    <h1>Accolades</h1>
  </header>
  {% include reviews-home.html %}
</section>

<section class="container" id="contact">
  <header>
    <h1>Contact</h1>
  </header>
  <p>Simple contact form goes here</p>
</section>
