---
layout: default
---

<div class="welcome">
  <div class="intro">
    <img src="assets/img/briana_headshot_circle.jpg">
    <p class="hi">Hi, I'm Briana!</p>
    <p>brief intro here</p>
  </div>
  <div class="feature-wrapper">
    <div class="feature">
      <img src="assets/img/pentagon-gray.png">
      <a href="#">I &#x2764; your face!</a>
      <p>Read more about what I do</p>
    </div>
    <div class="feature">
      <img src="assets/img/pentagon-gray.png">
      <a href="#">Book appointment</a>
      <p>Visit me for skin care awesomeness</p>
    </div>
    <div class="feature">
      <img src="assets/img/pentagon-gray.png">
      <a href="#">Hire me</a>
      <p>I'm interested in new adventures</p>
    </div>
  </div><!--feature-wrapper-->
</div><!--welcome-->

<section class="container" id="about">
  <header>
    <h1>About</h1>
  </header>
  <p>About me goes here.</p>
</section>

<section class="container" id="experience">
  <header>
    <h1>Experience</h1>
  </header>
  <p>Experience info goes here</p>
</section>

<section class="container" id="accolades">
  <header>
    <h1>Accolades</h1>
  </header>

{% for review in site.reviews %}

  <article class="">
    <header class="">
      <h1 class="">{{review.title}}</h1>
    </header>
    <div class="">
      {{review.content}}
    </div>
    <div class="">
      {{review.author-name}}<br>
      {{review.author-title}}, {{review.author-org}}
    </div>
  </article>

{% endfor %}

</section>

<section class="container" id="contact">
  <header>
    <h1>Contact</h1>
  </header>
  <p>Simple contact form goes here</p>
</section>
